.countries {
  .card {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
    border-radius: 0.5rem;

    .card-img-top {
      border-radius: 0.5rem 0.5rem 0 0;
      width: 100%;
      object-fit: cover;

    }

    min-height: 300px;
    margin-bottom: 40px;

    .card-text {
    }

    .card-body {
      border-radius: 12px;
    }
  }
}

@media screen and (max-width: 767px) {
  .card-img-top {
    height: 18rem;
  }
}

@media screen and (min-width: 767px) {
  .card-img-top {
    height: 10vw;

  }
}
