.action-bar {
  .search_categories{
    font-size: 13px;
    padding: 10px 8px 10px 14px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
  }

  .search_categories .select{
    width: 120%;
    background: url('../../../assets/svg/arrow-down.svg') no-repeat 80% center;

  }

  .search_categories .select select{
    background: transparent;
    line-height: 1;
    border: 0;
    padding: 0;
    border-radius: 0;
    width: 86%;
    position: relative;
    z-index: 10;
    font-size: 1em;
    appearance: none;
    outline: none;
  }


  @media screen and (max-width: 767px) {
    .mobile-space {margin-top:20px;}
    }

}


