.input-container {
  position:relative;
  //padding:0 0 0 20px;
  //margin:0 20px;

  //direction: rtl;
  //width: 200px;
  box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
  border-radius: 12px;
  height:40px;
  padding-right: 4px;
}

.search-icon {
  position:absolute;
  left: 4px;
  top: 25%;

  width:20px;
  height:20px;

  -webkit-mask: url(../../assets/svg/search.svg) no-repeat center;
  mask: url(../../assets/svg/search.svg) no-repeat center;
}

.input-field {
  height:100%;
  margin:0;
  padding-left: 30px;
  width: 100%;
  border:none;
  outline: none;
  border-radius: 12px;

}
