.filter-by-region {
  width: 100%;

  button {
    border: none;
    outline: none;
    box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
    border-radius: 12px;
    width: 100%;
    text-align: left;
    padding: 10px;
  }
  #caret-down {
    transition: 0.3s;
    position:absolute;
    right: 25px;
    top: 25%;

    width:20px;
    height:20px;

    -webkit-mask: url(../../assets/svg/caret-down.svg) no-repeat center;
    mask: url(../../assets/svg/caret-down.svg) no-repeat center;
  }
  .region-selected {
    box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
    border-radius: 12px;
    padding:10px;
  }
  
  #clear {
    position:absolute;
    right: 25px;
    top: 25%;
    cursor: pointer;
    width:20px;
    height:20px;

    -webkit-mask: url(../../assets/svg/clear.svg) no-repeat center;
    mask: url(../../assets/svg/clear.svg) no-repeat center;
  }

  .open {

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .options {
    cursor: pointer;
    box-shadow: rgb(0 0 0 / 35%) 0 5px 15px;
    border-radius: 12px;
    margin-top: 10px;
    position: absolute;
    top: 40px;
    right: 14px;
    left: 14px;
    bottom: 0;
    z-index: 100;
    
    height: fit-content;
    .option {
      border-radius: 12px;
      padding: 9px;
    }
  }
}
