.table {
    thead {
        .flag {
            min-width: 150px;
        }
        th {
            max-width: 125px;
            min-width: 125px;
        }
    }
    tbody {
        tr {
            cursor: pointer;
        }
        td {
            vertical-align:middle !important;
            img {
                width: 75px;
                border-radius: 10px;
            }
            .currency {
                border: 1px solid;
                border-radius: 15px;
                width: fit-content;
                padding: 0 5px 0 5px;
                margin-right: 2px;
            }
            .currency-td {
            }
        }
    }
}