header {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 34px -3px;
  height: 100px;


  
  margin-top: 50px;

  .row {
    div {
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
@media screen and (max-width: 767px) {
  header { margin-top: 0;}
  }

