#back-button {
    border: none;
    outline: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 5px 10px 5px 10px;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    justify-items: center;
    width: 100px;
    font-weight: 600;
    #left-arrow {
        width: 24px;
        height: 24px;
        margin-top: 2px;
        -webkit-mask: url(../../assets/svg/left-arrow.svg) no-repeat center;
        mask: url(../../assets/svg/left-arrow.svg) no-repeat center;
        margin-top: 2px;
    }
}
.details-flag {
    width: 100%;
}
.country-name {
    font-weight: 800;
}

.country-boundry {
    border: 1px solid gray;
    padding: 0 6px 2px 6px;
    border-radius: 6px;
    outline: hidden;
    font-size: 0.9em;
    margin-right: 7px; 
    height: fit-content;
    display: inline-block;
}

@media screen and (max-width: 767px) {
    .country-name {margin:30px 0 30px 0;}
    #details-2, #details-3 {
        margin-top:30px;
    }
}